body {
    background-color: rgb(31, 40, 41);
}

li a p {
    color: rgb(36, 36, 212);
}

li a p:hover {
    text-decoration: underline chocolate;
}

.carousel-item {
    height: 620px !important;
    width: 100% !important;
    text-align: center;
}

/* footer */
.footer {
    background-color: rgb(31, 40, 41);
    border: black;
    border-radius: 10px;
    color: rgb(23, 23, 37);
    padding: 0%;
    text-align: center;
    position: absolute;
    left: 500px;
    bottom: 0%;
}

.pie {
    display: inline-flex;
    color: blue;
    text-align: center;
    padding: 10px;
}

.pie i {
    color: brown;

}

.derechos {
    display: inline-flex;
}

.derechos p {
    font-family: cursive;
}

.nav-link {
    color: rgb(36, 36, 212);
}

/* carta */
.carta {
    display: flex;
    justify-content: space-around;
    padding: 15px 15px 15px 15px;

}

@media screen and (max-width:720px) {
    .carta {
        display: block;
    }
}