body {
    background-color: rgb(31, 40, 41);
}

li a p {
    color: rgb(36, 36, 212);
}

li a p:hover {
    text-decoration: underline chocolate;
}

.carousel-item {
    height: 620px !important;
    width: 100% !important;
    text-align: center;
}

/* grid */
.wrapper {
    display: grid;
    justify-content: center;
    grid-gap: 0px;
    grid-template-columns: 500px 700px;
    grid-template-rows: 400px 400px;
    background-color: rgb(31, 40, 41);
    color: #444;
}

.box {
    display: flex;
    justify-content: center;
    background-color: rgb(31, 40, 41);
    color: rgb(255, 71, 71);
    border-radius: 5px;
    padding: 20px;
    font-size: 150%;
}

.box .a {
    grid-column: 1;
    grid-row: 1;
    height: 300px;
}


.b {
    grid-column: 2;
    grid-row: 2 / 1;
    height: 300px;

}

.c {
    grid-column: 2;
    grid-row: 2;
    height: 300px;
}

.d {
    grid-column: 3;
    grid-row: 2;
    height: 300px;
}

.wrapper img {
    height: 300px;
    width: 500px;
}

.registro {
    color: rgb(48, 30, 3);
}

/* footer */
footer {
    background-color: rgb(31, 40, 41);
    border: black;
    color: rgb(164, 164, 165);
    /* height: 150px; */
    /* padding: 0%; */
    text-align: center;
}

.pie {
    display: inline-flex;
    color: blue;
    text-align: center;
    padding: 10px;
}

.pie a {
    text-decoration: none;
}

.pie i {
    color: rgb(173, 160, 160);
    font-size: 25px;
    text-decoration: none;

}

.derechos {
    display: flex;
    justify-content: center;
    /* align-items: center; */
}

.derechos p {
    font-family: cursive;
}

.nav-link {
    color: rgb(36, 36, 212);
}

.pagina {
    display: flex;
    justify-content: center;
}


/* carta */
.carta {
    display: flex;
    justify-content: space-around;
    padding: 15px 15px 15px 15px;

}

@media screen and (max-width:720px) {
    .carta {
        display: block;
    }
}