body {
    background-color: gray;
}

li a p {
    color: blue;
}

li a p:hover {
    text-decoration: underline chocolate;
}

.carousel-item {
    height: 600px !important;
    width: 100% !important;
    text-align: center;

}